<!DOCTYPEhtml> <html>
<head>
<title>Standup App</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'r\
eload'%>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
<%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body class="login-page">
<%= yield %> </body>
</html>
